---
layout: page
title: Publications and Resume
---

<!-- /portfolio -->

<!-- clients -->
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Publication</h2>
        <ol>
           <li> <h4>Y. Mahajan, D. Krishnaswamy, P. Chellaiah, <b>"MiSA: A System for a Microlending Service to Assist Edge
Communities"</b>, IEEE Conf. on Technologies for Sustainability (SusTech) 2020, Santa Ana, CA (to appear).</h4> </li>
<br/>
<br/>
           <li> <h4> Mahajan Y., Srivastava S., <b>“Holistic Credit Rating System for Online Microlending Platform using
Blockchain Technology”</b>, Security in Computing and Communication (2018), Communications in Computer
and Information Science, vol 969. Springer, Singapore </h4> </li>        
        </ol>
      </div>
    </div>
    {% include client-slider.html %}
  </div>
</section>
<!-- /clients -->


<!-- clients -->
<section class="section bg">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Resume</h2>
        <ol>
           <li><b> <h3><a href="https://drive.google.com/open?id=1p5XuQlI6-iPoopldPQbQJKPh-Bz57knP">Link To My Resume</a></h3> </b></li>
     
        </ol>
      </div>
    </div>
    {% include client-slider.html %}
  </div>
</section>
<!-- /clients -->